<body>
  <nav class="navbar navbar-default text-secondary" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/articles">Wikinimous</a>
      <a class="navbar-brand" href="/new">New article</a>
    </div>
  </nav>

  <div class="container">
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>
  </div>
</body>
